
main {
  display: flex;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

.sidebar {
  width: 225px;
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
  font-family: 'Inika';
  font-weight: 700;
  font-size: 20px;
}

.sidebar-logo {
  display: flex;
  margin: 12px;
  justify-content: center;
  align-items: center;
  font-family: 'Inika';
  font-weight: 700;
  font-size: 30px;
}

.sidebar-link {
  display: block;
  padding: 18px 12px;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.sidebar-logout {
  margin-top: 48px;
  padding-top: 24px;
  border: 0;
  border-top: 1px solid #000;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
}

.sidebar-link.active,
.sidebar-link:hover {
  background-color: var(--color-tertiary);
  color: var(--color-tertiary-contrast);
}

.sidebar-nav {
  background-color: var(--color-tertiary);
  padding-bottom: 8px;
}

.sidebar-nav a {
  display: block;
  padding: 4px;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  border: 2px solid #000;
}

.sidebar-nav a.active {
  border: 2px solid var(--color-primary);
}

.dashboard-main {
  flex: 1;
}

.dashboard-header {
  display: flex;
  align-items: center;
  padding: 4px 24px;
  background-color: var(--color-tertiary);
  color: var(--color-tertiary-contrast);
  font-weight: 700;
  font-size: 20px;
}

.dashboard-header h5 {
  flex: 1;
}

.dashboard-title {
  font-size: 25px;
  font-weight: 700;
  color: #36454f;
}

.dashboard-cards {
  display: flex;
  justify-content: space-around;
}

.dashboard-cards .card {
  width: 18%;
  padding: 12px;
  font-size: 16px;
}

.dashboard-cards .card h5,
.dashboard-cards .card h6 {
  margin-bottom: 8px;
  font-weight: 700;
}

.card-value {
  color: var(--color-primary);
}

.modal-container {
  left: 225px;
}

.modal {
  transform: translate(calc(-50% + 112.5px), -50%);
}

.dashboard-table {
  width: 95%;
  margin: 16px auto;
}

.dashboard-table td,
.dashboard-table th {
  padding: 8px;
  text-align: center;
  border-right: 1px solid #000;
}

.dashboard-table td:last-child,
.dashboard-table th:last-child {
  border-right: 0;
}

.dashboard-table th {
  font-weight: bold;
  font-size: 15px;
}

.dashboard-table tbody tr:nth-child(even),
.dashboard-table thead tr:nth-child(odd) {
  background-color: #d9d9d9;
}

.dashboard-table-borderless td,
.dashboard-table-borderless th {
  border-right: 0;
}

.table-search {
  width: 300px;
  padding: 8px;
  border-radius: 12px;
}
