
* {
  box-sizing: border-box;
  font-family: 'Inika';
}

*:root {
  --color-primary: #ace1af;
  --color-primary-contrast: #000000;
  --color-primary-shade: #8ed692;
  --color-primary-tint: #b8e5ba;
  --color-secondary: #097969;
  --color-secondary-contrast: #ffffff;
  --color-secondary-shade: #086c5e;
  --color-secondary-tint: #0cae97;
  --color-tertiary: #36454f;
  --color-tertiary-contrast: #ffffff;
  --color-tertiary-shade: #303e47;
  --color-tertiary-tint: #546c7b;
  --color-background: #d9d9d9;
  --color-background-contrast: #000000;
  --color-background-shade: #c3c3c3;
  --color-background-tint: #dedede;
  --color-background-secondary: #e6f6e7;
  --color-background-secondary-contrast: #000000;
  --color-danger: #eb445a;
}

@font-face {
  font-family: 'Inika';
  src: url("../fonts/Inika-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Inika';
  src: url("../fonts/Inika-Bold.ttf");
  font-weight: 700;
}

a { color: #000; }
body { background-color: #f7fcf7;}

.card {
  padding: 12px;
  border-radius: 30px;
  border: 1px solid #fff;
  background-color: #fff;
  color: #000;
}

.card-secondary {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-secondary-contrast);
}

.card-tertiary {
  background-color: var(--color-tertiary);
  border-color: var(--color-tertiary);
  color: var(--color-tertiary-contrast);
}

.card-background-secondary {
  background-color: var(--color-background-secondary);
  border-color: var(--color-background-secondary);
  color: var(--color-background-secondary-contrast);
}

.card-title {
  font-size: 30px;
  font-weight: 700;
}

.card-title-secondary {
  background-color: var(--color-secondary);
  color: var(--color-secondary-contrast);
}

.card-title-tertiary {
  padding: 8px 12px;
  background-color: var(--color-tertiary);
  color: var(--color-tertiary-contrast);
}

.card-rect {
  border-radius: 0;
}

.form-group {
  margin-bottom: 8px;
}

.form-control {
  display: block;
  padding: 16px 8px;
  width: 100%;
  background-color: #d9d9d9;
  border: 0;
  font-family: 'Inika';
}

.form-control-white {
  background-color: #ffffff;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content.active { display: block; }

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  min-width: 125px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  z-index: 100;
}

.dropdown-content button { border-bottom: 1px solid #ccc; }
.dropdown-content button:last-child { border: 0; }

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
}

.modal {
  display: none;
  position: fixed;
  top: calc(100vh / 2);
  left: calc(100vw / 2);
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.modal-open {
  display: initial;
}

select.btn {
  border-radius: 4px;
  appearance: none;
}

.btn {
  padding: 12px;
  border: 0;
  font-family: 'Inika';
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.btn-text {
  padding: 0;
  background-color: transparent;
}

.btn img {
  vertical-align: middle;
}

.btn-round { border-radius: 30px; }
.btn-round-sm { border-radius: 4px; }
.btn:disabled { cursor: not-allowed; }

.btn-xs { padding: 0 8px; }
.btn-sm { padding: 4px 12px; }
.btn-lg { padding: 18px 32px; }

.btn-block {
  display: block;
  width: 100%;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
}

.btn-primary:hover { background-color: var(--color-primary-shade); }
.btn-primary:disabled { background-color: var(--color-primary-tint); }

.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-secondary-contrast);
  font-size: bold;
}

.btn-secondary:hover { background-color: var(--color-secondary-shade); }
.btn-secondary:disabled { background-color: var(--color-secondary-tint); }

.btn-tertiary {
  background-color: var(--color-tertiary);
  color: var(--color-tertiary-contrast);
}

.btn-tertiary:hover { background-color: var(--color-tertiary-shade); }
.btn-tertiary:disabled { background-color: var(--color-tertiary-tint); }

.btn-background-secondary {
  background-color: var(--color-background-secondary);
  color: var(--color-background-secondary-contrast);
}

.btn-background-secondary.active {
  background-color: var(--color-secondary);
  color: var(--color-secondary-contrast);
}

.m-0, .my-0, .mt-0 { margin-top: 0 !important; }
.m-0, .my-0, .mb-0 { margin-bottom: 0 !important; }
.m-1, .my-1, .mt-1 { margin-top: 8px !important; }
.m-1, .my-1, .mb-1 { margin-bottom: 8px !important; }
.m-2, .my-2, .mt-2 { margin-top: 12px !important; }
.m-2, .my-2, .mb-2 { margin-bottom: 12px !important; }
.m-3, .my-3, .mt-3 { margin-top: 24px !important; }
.m-3, .my-3, .mb-3 { margin-bottom: 24px !important; }
.m-4, .my-4, .mt-4 { margin-top: 32px !important; }
.m-4, .my-4, .mb-4 { margin-bottom: 32px !important; }
.m-5, .my-5, .mt-5 { margin-top: 48px !important; }
.m-5, .my-5, .mb-5 { margin-bottom: 48px !important; }
.m-0, .mx-0, .ml-0 { margin-left: 0 !important; }
.m-0, .mx-0, .mr-0 { margin-right: 0 !important; }
.m-1, .mx-1, .ml-1 { margin-left: 8px !important; }
.m-1, .mx-1, .mr-1 { margin-right: 8px !important; }
.m-2, .mx-2, .ml-2 { margin-left: 12px !important; }
.m-2, .mx-2, .mr-2 { margin-right: 12px !important; }
.m-3, .mx-3, .ml-3 { margin-left: 24px !important; }
.m-3, .mx-3, .mr-3 { margin-right: 24px !important; }
.m-4, .mx-4, .ml-4 { margin-left: 32px !important; }
.m-4, .mx-4, .mr-4 { margin-right: 32px !important; }
.m-4, .mx-5, .ml-5 { margin-left: 48px !important; }
.m-4, .mx-5, .mr-5 { margin-right: 48px !important; }
.mx-auto, .ml-auto { margin-left: auto; }
.mx-auto, .mr-auto { margin-right: auto; }

.p-0, .py-0, .pt-0 { padding-top: 0 !important; }
.p-0, .py-0, .pb-0 { padding-bottom: 0 !important; }
.p-1, .py-1, .pt-1 { padding-top: 8px !important; }
.p-1, .py-1, .pb-1 { padding-bottom: 8px !important; }
.p-2, .py-2, .pt-2 { padding-top: 12px !important; }
.p-2, .py-2, .pb-2 { padding-bottom: 12px !important; }
.p-3, .py-3, .pt-3 { padding-top: 24px !important; }
.p-3, .py-3, .pb-3 { padding-bottom: 24px !important; }
.p-4, .py-4, .pt-4 { padding-top: 32px !important; }
.p-4, .py-4, .pb-4 { padding-bottom: 32px !important; }
.p-5, .py-5, .pt-5 { padding-top: 48px !important; }
.p-5, .py-5, .pb-5 { padding-bottom: 48px !important; }
.p-0, .px-0, .pl-0 { padding-left: 0 !important; }
.p-0, .px-0, .pr-0 { padding-right: 0 !important; }
.p-1, .px-1, .pl-1 { padding-left: 8px !important; }
.p-1, .px-1, .pr-1 { padding-right: 8px !important; }
.p-2, .px-2, .pl-2 { padding-left: 12px !important; }
.p-2, .px-2, .pr-2 { padding-right: 12px !important; }
.p-3, .px-3, .pl-3 { padding-left: 24px !important; }
.p-3, .px-3, .pr-3 { padding-right: 24px !important; }
.p-4, .px-4, .pl-4 { padding-left: 32px !important; }
.p-4, .px-4, .pr-4 { padding-right: 32px !important; }
.p-5, .px-5, .pl-5 { padding-left: 48px !important; }
.p-5, .px-5, .pr-5 { padding-right: 48px !important; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-sm { font-size: 11px; }
.text-md { font-size: 15px; }
.text-lg { font-size: 20px; }
.text-bold { font-weight: 700; }
.text-danger { color: var(--color-danger); }
.text-none { text-decoration: none; }
.text-underline { text-decoration: underline; }

.d-none { display: none !important; }
.d-flex { display: flex !important; }
.d-content { display: content !important; }

.flex-1 { flex: 1; }
.flex-column { flex-direction: column; }
.flex-space-around { justify-content: space-around; }
.flex-space-between { justify-content: space-between; }
.flex-center { justify-content: center; }
.flex-align-center { align-items: center; }
.flex-align-start { align-items: flex-start; }
.align-self-end { align-self: flex-end; }

.w-100 { width: 100% !important; }
.w-75 { width: 75% !important; }
.w-50 { width: 50% !important; }

.box-shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.border { border: 1px solid #000000; }
.border-bottom { border-bottom: 1px solid #000000; }
.border-left-0 { border-left: 0; }
.border-right-0 { border-right: 0; }
