
.item-stock-in,
.item-stock-in-date,
.item-stock-out,
.item-stock-out-date {
  cursor: pointer;
}

#modal-stock-in .card,
#modal-stock-out .card {
  width: 350px;
  border: 1px solid #000;
}

#limit-page {
  width: 150px;
  padding: 8px;
  border: 0;
  border-radius: 8px;
}
