
#modal-order .card {
  background-color: var(--color-background);
  color: var(--color-background-contrast);
  border-radius: 0;
  border: 1px solid #000;
}

.transaction-action {
  cursor: pointer;
}

.table-details tr td:first-child {
  padding-bottom: 18px;
  width: 200px;
}

.table-details tr td:last-child {
  font-weight: 700;
}

#modal-delivery-fees table th {
  padding: 8px;
  background-color: var(--color-tertiary);
  color: var(--color-tertiary-contrast);
}

#modal-delivery-fees table th:first-child {
  border-top-left-radius: 4px;
}

#modal-delivery-fees table th:last-child {
  border-top-right-radius: 4px;
}

.table-products tr th,
.table-products tr td {
  padding-bottom: 18px;
}

.order-status {
  cursor: pointer;
}
