
.sales-report-total {
  font-weight: 700;
}

.sales-report-total-amount {
  font-size: 32px;
}

.table-summary {
  background-color: var(--color-background-secondary);
  color: var(--color-background-secondary-contrast);
}

.table-summary tr td {
  padding-top: 18px;
  padding-bottom: 32px;
  font-weight: 700;
}

.table-summary tr td:last-child {
  font-weight: 400;
}

.details-link {
  color: #314e5d;
}

.table-details th,
.table-details td {
  padding: 8px;
  text-align: center;
}

#modal-month-report .card {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

#modal-product-breakdown .card {
  border: 1px solid #000;
}
